<section class="content-header">
	<h1>
		Stores
	</h1>
</section>

<section class="content" ng-if="userRole == 'admin'" ng-show="views.list">
	<div class="row">
		<div class="col-md-12">
			<a ng-if="userRole == 'admin'" ng-click="changeView('add')" class="btn btn-success pull-right">Add Store</a>			
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header clearfix">
					<h3 class="pull-left">Total Stores</h3>
					<div class="box-tools">
						<div class="input-group pull-right">
							<input type="text" ng-model="searchText.text" class="form-control input-sm pull-right" placeholder="Search"> 
						</div>
					</div>
				</div>
				<div class="box-body table-responsive">
					<table class="table table-hover middle">
						<tbody>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Website</th>
								<th>Logo</th>
								<th>Api_url</th>
								<th class='no-print' ng-if="userRole == 'admin'">Operations</th>
							</tr>
							<tr dir-paginate="store in stores | filter:searchText.text | itemsPerPage:20" total-items="totalItems">
								<td>{{store.store_id}}</td>
								<td>{{store.store_name}}</td>
								<td><a href="{{store.website_url}}" target="_blank">{{store.website_url}}</a></td>
								<td><img src="{{store.logo_url}}" class="img-responsive" height="40" width="100"></td>
								<td>{{store.api_url}}</td>
								<td class='no-print' ng-if="userRole == 'admin'">									
									<a ng-click="editStore(store)" class="btn btn-warning" title="Edit" tooltip><i class="ion-edit"></i></a>
								</td>
							</tr>
							<tr ng-show="!stores.length"><td class="noTableData" colspan="6">No stores</td></tr>
						</tbody>
					</table>
					<dir-pagination-controls class="pagination-wrap" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.html" ></dir-pagination-controls>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content" ng-if="userRole == 'admin'" ng-show="views.edit">
	<div class="row">
		<div class="col-md-12">
			<a ng-click="changeView('list')" class="btn btn-danger pull-right">Cancel</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header clearfix">
					<h3 class="pull-left">Edit Store</h3>
				</div>
				<div class="box-body table-responsive">
					<form class="form-horizontal col-md-12" ng-submit="saveEdit()" name="editstore" role="form" novalidate>
						<div class="form-group" ng-class="{'has-error': editstore.store_name.$invalid}">
							<label for="name" class="col-sm-2 control-label">Store Name * </label>
							<div class="col-sm-10">
								<input type="text" name="store_name" ng-model="form.store_name" class="form-control" required placeholder="Full Name">
							</div>
						</div>
						<div class="form-group" ng-class="{'has-error': editstore.website_url.$invalid}">
							<label for="website_url" class="col-sm-2 control-label">Website URI * </label>
							<div class="col-sm-10">
								<input type="text" name="website_url" ng-model="form.website_url" class="form-control" required placeholder="Website">
							</div>
						</div>
						<div class="form-group" ng-class="{'has-error': editstore.logo_url.$invalid}">
							<label for="logo_url" class="col-sm-2 control-label">logo url *</label>
							<div class="col-sm-10">
								<input type="logo_url" name="logo_url" ng-model="form.logo_url" class="form-control" placeholder="Logo URL" required>
							</div>
						</div>
						<div class="form-group" ng-class="{'has-error': editstore.api_url.$invalid}">
							<label for="api_url" class="col-sm-2 control-label">API url *</label>
							<div class="col-sm-10">
								<input type="api_url" name="api_url" ng-model="form.api_url" class="form-control" placeholder="API URL" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input type="hidden" name="_token" value="{{CSRF_TOKEN}}">
								<button type="submit" class="btn btn-success" ng-disabled="editstore.$invalid">Save</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content" ng-if="userRole == 'admin'" ng-show="views.add">
	<div class="row">
		<div class="col-md-12">
			<a ng-click="changeView('list')" class="btn btn-danger pull-right">Cancel</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header clearfix">
					<h3 class="pull-left">Add store</h3>
				</div>
				<div class="box-body table-responsive">
					<form class="form-horizontal col-md-12" ng-submit="create()" name="addstore" role="form" novalidate>
						<div class="form-group" ng-class="{'has-error': addstore.store_name.$invalid}">
							<label for="name" class="col-sm-2 control-label">Store Name * </label>
							<div class="col-sm-10">
								<input type="text" name="store_name" ng-model="form.store_name" class="form-control" required placeholder="Full Name">
							</div>
						</div>
						<div class="form-group" ng-class="{'has-error': addstore.website_url.$invalid}">
							<label for="website_url" class="col-sm-2 control-label">Website URI * </label>
							<div class="col-sm-10">
								<input type="text" name="website_url" ng-model="form.website_url" class="form-control" required placeholder="Website">
							</div>
						</div>
						<div class="form-group" ng-class="{'has-error': addstore.logo_url.$invalid}">
							<label for="logo_url" class="col-sm-2 control-label">logo url *</label>
							<div class="col-sm-10">
								<input type="logo_url" name="logo_url" ng-model="form.logo_url" class="form-control" placeholder="Logo URL" required>
							</div>
						</div>
						<div class="form-group" ng-class="{'has-error': addstore.api_url.$invalid}">
							<label for="api_url" class="col-sm-2 control-label">Api url *</label>
							<div class="col-sm-10">
								<input type="api_url" name="api_url" ng-model="form.api_url" class="form-control" placeholder="API URL" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input type="hidden" name="_token" value="{{CSRF_TOKEN}}">
								<button type="submit" class="btn btn-success" ng-disabled="addstore.$invalid">Add store</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Seller Stores Templates -->

<section class="content" ng-if="userRole == 'seller'" ng-show="views.list">
	<div class="row">
		<div class="col-md-12">
			<a ng-if="userRole == 'seller'" ng-click="listChannel()" class="btn btn-success pull-right">Add Store</a>			
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header clearfix">
					<h3 class="pull-left">Total Stores</h3>
					<div class="box-tools">
						<div class="input-group pull-right">
							<input type="text" ng-model="searchText.text" class="form-control input-sm pull-right" placeholder="Search"> 
						</div>
					</div>
				</div>
				<div class="box-body table-responsive">
					<table class="table table-hover middle">
						<tbody>
							<tr>
								<th>Store</th>
								<th>Application ID</th>
								<th>UserName</th>								
								<th class='no-print' ng-if="userRole == 'admin'">Operations</th>
							</tr>
							<tr ng-repeat="(key, value) in stores">
								<td>{{key}}</td>
								<td>{{value.application_id}}</td>
								<td>{{value.username}}</td>								
								<td class='no-print' ng-if="userRole == 'seller'">									
									<a ng-click="editSellerStore(key,value)" class="btn btn-warning" title="Edit" tooltip><i class="ion-edit"></i></a>
									<a ng-click="removeStore(key)" class="btn btn-danger" title="Delete" tooltip><i class="ion-trash-b"></i></a>
								</td>
							</tr>							
						</tbody>
					</table>
					<dir-pagination-controls class="pagination-wrap" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.html" ></dir-pagination-controls>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content" ng-if="userRole == 'seller'"  ng-show="views.add">
	<div class="row">
		<div class="col-md-12">
			<a ng-click="changeView('list')" class="btn btn-danger pull-right">Cancel</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header clearfix">
					<h3 class="pull-left">Add store</h3>
				</div>
				<div class="box-body table-responsive">
					<form class="form-horizontal col-md-12" ng-submit="create()" name="addstore" role="form" novalidate>
						<div class="form-group" ng-class="{'has-error': addstore.store_name.$invalid}">
							<label for="store_name" class="col-sm-2 control-label">Store * </label>
							<div class="col-sm-3">
								<select class="form-control" name="store_name" ng-model="form.store_name" required>
									<option style="display:none" value="">select a Store</option>
									<option ng-repeat="data in channels" value="{{data}}" required="required">{{data}}</option>
								</select> 
							</div>
						</div>
						<div class="form-group" ng-class="{'has-error': addstore.username.$invalid}">
							<label for="username" class="col-sm-2 control-label">User Name * </label>
							<div class="col-sm-10">
								<input type="text" name="username" ng-model="form.username" class="form-control" required placeholder="User Name">
							</div>
						</div>
						<div class="form-group" ng-class="{'has-error': addstore.password.$invalid}">
							<label for="password" class="col-sm-2 control-label">Password * </label>
							<div class="col-sm-10">
								<input type="password" name="password" ng-model="form.password" class="form-control" required placeholder="Password">
							</div>
						</div>																	
						<div class="form-group" ng-class="{'has-error': addstore.application_id.$invalid}">
							<label for="application_id" class="col-sm-2 control-label">Application ID * </label>
							<div class="col-sm-10">
								<input type="text" name="application_id" ng-model="form.application_id" class="form-control" required placeholder="Application ID">
							</div>
						</div>
						<div class="form-group" ng-class="{'has-error': addstore.application_secret.$invalid}">
							<label for="application_secret" class="col-sm-2 control-label">Application Secret*</label>
							<div class="col-sm-10">
								<input type="application_secret" name="application_secret" ng-model="form.application_secret" class="form-control" placeholder="Application Secret" required>
							</div>
						</div>						
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input type="hidden" name="_token" value="{{CSRF_TOKEN}}">
								<button type="submit" class="btn btn-success" ng-disabled="addstore.$invalid">Add store</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content" ng-if="userRole == 'seller'"  ng-show="views.edit">
	<div class="row">
		<div class="col-md-12">
			<a ng-click="changeView('list')" class="btn btn-danger pull-right">Cancel</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header clearfix">
					<h3 class="pull-left">edit store</h3>
				</div>
				<div class="box-body table-responsive">
					<form class="form-horizontal col-md-12" ng-submit="saveEdit()" name="editstore" role="form" novalidate>			
						<div class="form-group" ng-class="{'has-error': editstore.username.$invalid}">
							<label for="username" class="col-sm-2 control-label">User Name * </label>
							<div class="col-sm-10">
								<input type="text" name="username" ng-model="form.username" class="form-control" required placeholder="User Name">
							</div>
						</div>
						<div class="form-group" ng-class="{'has-error': editstore.password.$invalid}">
							<label for="password" class="col-sm-2 control-label">Password * </label>
							<div class="col-sm-10">
								<input type="password" name="password" ng-model="form.password" class="form-control" required placeholder="Password">
							</div>
						</div>																	
						<div class="form-group" ng-class="{'has-error': editstore.application_id.$invalid}">
							<label for="application_id" class="col-sm-2 control-label">Application ID * </label>
							<div class="col-sm-10">
								<input type="text" name="application_id" ng-model="form.application_id" class="form-control" required placeholder="Application ID">
							</div>
						</div>
						<div class="form-group" ng-class="{'has-error': editstore.application_secret.$invalid}">
							<label for="application_secret" class="col-sm-2 control-label">Application Secret*</label>
							<div class="col-sm-10">
								<input type="application_secret" name="application_secret" ng-model="form.application_secret" class="form-control" placeholder="Application Secret" required>
							</div>
						</div>						
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input type="hidden" name="_token" value="{{CSRF_TOKEN}}">
								<button type="submit" class="btn btn-success" ng-disabled="editstore.$invalid">Add store</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>






